.orange {
  color: #ff7440;
}

.background {
  padding: 0;
  margin: 0;
  background-color: rgb(62, 83, 107);
  border-bottom: 100px rgba(62, 83, 107, 0.952);
}

i {
  font-size: 5em;
  text-align: center;
}

@media only screen and (max-width: 992px) {
  i {
    display: none;
  }
}

h1 {
  font-size: 4.5rem;
}

@media only screen and (max-width: 320px) {
  h1 {
    font-size: 4rem;
  }
}

.calculator {
  width: 18rem;
  border: 1px solid gray;
  box-shadow: 5px 5px 5px #888888;
}

button {
  height: 40px;
  width: 40px;
  box-shadow: 3px 3px #888888;
}

button :hover {
  margin-right: 3px;
}

.btn-lg {
  width: 75px;
}

.btn-lg :hover {
  border: rgba(76, 175, 80, 0.3);
}

.hidden {
  height: 100px;
  background: rgba(62, 83, 107, 0.952);
}
